.toast {
	display: none;
	position: fixed;
	z-index: 99999;
	width: 100%;
	text-align: center;
	top: 2em;
}

.toast .message {
	display: inline-block;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .8em;
	background: #282324;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #554434),
		color-stop(1, #282324));
}